* {
  margin: 0;
  padding: 0;
}

#header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.73)
    ),
    url(/images/pune.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Righteous", cursive;
  font-size: 15px;
}

.text {
  padding: 150px;
  color: white;
  text-align: center;
}

.text1 {
  margin-top: -80px;
  color: white;
  text-align: center;
  /* background-color: darkblue; */
}

#mid-section {
  color: white;
  background: rgb(175, 92, 66);
  background: linear-gradient(
    173deg,
    rgba(175, 92, 66, 1) 0%,
    rgba(2, 89, 70, 1) 2%,
    rgba(201, 143, 103, 1) 100%
  );
}

#mid-section-header {
  color: white;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 50px;
  font-family: "Righteous", cursive;
}

.container {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow: auto;
  gap: 10px;
}

.place {
  width: 320px;
  height: 400px;
  /* border: 5px solid red; */
  border-radius: 50px;
  text-align: center;
  padding: 10px;
}

.place-img {
  width: 200px;
  height: 200px;
  border: 5px solid black;
  border-radius: 50%;
}
.place-header {
  margin: 10px 0px;
  /* border: 5px solid red; */
  justify-content: right;
}
.place-info {
  /* border: 5px solid green; */
  align-items: flex-end;
}

#footer {
  height: 500px;
  background: lavender;
}
